# Importing Pandas

In [60]:
import pandas as pd

# Creating a Series

In [61]:
series1 = pd.Series([1,2,3])

In [62]:
series1

0    1
1    2
2    3
dtype: int64

In [63]:
names = pd.Series(['Iron Man', 'Ant Man', 'Black Widow', 'Thor'])

In [64]:
names

0       Iron Man
1        Ant Man
2    Black Widow
3           Thor
dtype: object

# Creating a DataFrame

In [65]:
df1 = pd.DataFrame([ [1,2,3], [4,5,6] ])

In [66]:
df1

   0  1  2
0  1  2  3
1  4  5  6

In [67]:
df2 = pd.DataFrame([[1,2,3],[4,5,6]], columns=['col1', 'col2', 'col3'])

In [68]:
df2

   col1  col2  col3
0     1     2     3
1     4     5     6

In [69]:
popularity = pd.Series([80, 47, 37, 73])

In [70]:
popularity

0    80
1    47
2    37
3    73
dtype: int64

In [71]:
df2 = pd.DataFrame([names, popularity])

In [72]:
df2.head()

          0        1            2     3
0  Iron Man  Ant Man  Black Widow  Thor
1        80       47           37    73

In [73]:
df3 = pd.DataFrame()

In [74]:
df3

Empty DataFrame
Columns: []
Index: []

# Adding columns to a DataFrame

In [75]:
df3['names'] = names

In [76]:
df3

         names
0     Iron Man
1      Ant Man
2  Black Widow
3         Thor

In [81]:
df3['popularity'] = pd.Series([80, 47, 37, 73])

In [82]:
df3

         names  popularity  number_jokes
0     Iron Man          80           930
1      Ant Man          47            48
2  Black Widow          37           750
3         Thor          73           355

In [83]:
df3['number_jokes'] = [930, 395, 750, 355]

In [84]:
df3

         names  popularity  number_jokes
0     Iron Man          80           930
1      Ant Man          47           395
2  Black Widow          37           750
3         Thor          73           355

# Setting the index

In [85]:
df3 = df3.set_index('names')

In [86]:
df3

             popularity  number_jokes
names
Iron Man             80           930
Ant Man              47           395
Black Widow          37           750
Thor                 73           355

# Resetting the index

In [87]:
df3 = df3.reset_index()

In [88]:
df3

         names  popularity  number_jokes
0     Iron Man          80           930
1      Ant Man          47           395
2  Black Widow          37           750
3         Thor          73           355

In [90]:
df3 = df3.set_index('number_jokes')

In [91]:
df3

                    names  popularity
number_jokes
930              Iron Man          80
395               Ant Man          47
750           Black Widow          37
355                  Thor          73

# Sorting the index

In [92]:
df3 = df3.sort_index()

In [93]:
df3

                    names  popularity
number_jokes
355                  Thor          73
395               Ant Man          47
750           Black Widow          37
930              Iron Man          80

In [94]:
df3 = df3.sort_index(ascending=False)

In [95]:
df3

                    names  popularity
number_jokes
930              Iron Man          80
750           Black Widow          37
395               Ant Man          47
355                  Thor          73

In [96]:
df3 = df3.reset_index()

In [97]:
df3

   number_jokes        names  popularity
0           930     Iron Man          80
1           750  Black Widow          37
2           395      Ant Man          47
3           355         Thor          73

# Reading a DataFrame

In [98]:
df_avengers = pd.read_csv('../data/avengers.csv')

# Previewing a DataFrame

In [99]:
df_avengers.head()

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,Death1,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,NaN,Sep-63,1963,52,Full,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...

In [100]:
df_avengers.tail()

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,Death1,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,NaN,13-Nov,2013,2,Full,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,NaN,14-Jan,2014,1,Full,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,NaN,14-Jan,2014,1,Full,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,NaN,14-Jan,2014,1,Full,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,NaN,15-Jan,2015,0,Full,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Shape of a DataFrame

In [101]:
df_avengers.shape

(173, 21)

# Data types in a DataFrame

In [102]:
df_avengers.dtypes

URL                            object
Name/Alias                     object
Appearances                     int64
Current?                       object
Gender                         object
Probationary Introl            object
Full/Reserve Avengers Intro    object
Year                            int64
Years since joining             int64
Honorary                       object
                                ...
Return1                        object
Death2                         object
Return2                        object
Death3                         object
Return3                        object
Death4                         object
Return4                        object
Death5                         object
Return5                        object
Notes                          object
Length: 21, dtype: object

# Setting the index of a DataFrame

In [103]:
df_avengers = df_avengers.set_index("Appearances")

In [104]:
df_avengers.head()

,URL,Name/Alias,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,Death1,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
Appearances,,,,,,,,,,,,,,,,,,,,
1269,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",YES,MALE,NaN,Sep-63,1963,52,Full,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Merged with Ultron in Rage of Ultron Vol. 1. A...
1165,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,YES,FEMALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Secret Invasion V1:I8. Actually was se...
3068,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
2089,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dies in Ghosts of the Future arc. However ""he ..."
2402,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...

# Sorting the index of a DataFrame

In [105]:
df_avengers = df_avengers.sort_index(ascending=False)

In [106]:
df_avengers.head()

,URL,Name/Alias,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,Death1,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
Appearances,,,,,,,,,,,,,,,,,,,,
4333,http://marvel.wikia.com/Peter_Parker_(Earth-616)#,Peter Benjamin Parker,YES,MALE,NaN,Apr-90,1990,25,Full,YES,YES,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,Since joining the New Avengers: First death Ki...
3458,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,YES,MALE,NaN,Mar-64,1964,51,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies at the end of Civil War. Later comes back.
3130,http://marvel.wikia.com/James_Howlett_(Earth-6...,"James ""Logan"" Howlett",YES,MALE,NaN,5-Jun,2005,10,Full,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Died in Death_of_Wolverine_Vol_1_4. Has not ye...
3068,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
2402,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...

# Resetting the index of a DataFrame

In [107]:
# Notice how instead of assigning the variable, we use the argument 'inplace=True'
# This modifies the actual DataFrame, instead of returning a copy with the alteration.

df_avengers.reset_index(inplace=True)

In [108]:
df_avengers.head()

,Appearances,URL,Name/Alias,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,Death1,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
0,4333,http://marvel.wikia.com/Peter_Parker_(Earth-616)#,Peter Benjamin Parker,YES,MALE,NaN,Apr-90,1990,25,Full,YES,YES,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,Since joining the New Avengers: First death Ki...
1,3458,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,YES,MALE,NaN,Mar-64,1964,51,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies at the end of Civil War. Later comes back.
2,3130,http://marvel.wikia.com/James_Howlett_(Earth-6...,"James ""Logan"" Howlett",YES,MALE,NaN,5-Jun,2005,10,Full,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Died in Death_of_Wolverine_Vol_1_4. Has not ye...
3,3068,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
4,2402,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,YES,MALE,NaN,Sep-63,1963,52,Full,YES,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...